{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block contenthead %}
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-between">

              	<div class="d-flex flex-nowrap bd-highlight">

					<div class="order-3 p-2"><h1 class="logo">
						<a href="https://dornawing.com/">DornaWing</a>
						</h1>
					</div>

					<div class="order-2 p-2">
						<a href="https://dornawing.com/" class="logo">
							<img src="../static/img/Logo180x180.png" alt="" class="img-fluid">
						</a>
					</div>

			  	</div>

			  	<nav class="nav-menu d-none d-lg-block">
					{% main_menu template="menus/bootstrap3/main_menu_dropdown.html" %}
				</nav>
				<!-- .nav-menu -->

            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="section" >
	<!-- ======= Hero Section ======= -->
	{% image self.banner_image max-2000x2000 as banner_image %}
	<section id="hero" style="background-image: url({{ banner_image.url }});" class="d-flex flex-column justify-content-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8">
					<h1>{{ page.header_title_text }}</h1>
					<h2>{{ page.header_text }}</h2>

				</div>
			</div>
		</div>
	</section><!-- End Hero -->
</div>

<div class="section" >
	<main id="main">
		<!-- ======= About Us Section ======= -->
		<section id="about" class="about">
			<div class="container">



				<div class="row content">
					<div class="section-title">
						<h2>Our Story</h2>

					</div>

					<div class="col-lg-6 order-1 order-lg-2">
						{% image self.our_story_img max-2000x2000 as our_story_img %}
						<img src="{{ our_story_img.url }}" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 order-2 order-lg-1 pt-3 pt-lg-0">
						<h3>{{ page.our_story_title }}</h3>						
						<p>
							{{ page.our_story_richtext|safe }}
						</p>
					</div>
				</div>


			</div>
		</section><!-- End About Us Section -->
	</div>

	<div class="section" >

		<!-- ======= Members Section ======= -->
		<section id="members" class="members">
			<div class="container">

				<div class="row">

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								{% image self.first_member_of_team_img max-2000x2000 as first_member_of_team_img %}
								<img src="{{ first_member_of_team_img.url }}" class="img-fluid" alt="">				
								<div class="social">
									<a href="{{ page.first_member_of_team_linkedin }}"><i class="icofont-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h4>{{ page.first_member_of_team_name }}</h4>
								<span>{{ page.first_member_of_team_position }}</span>
								<p>{{ page.first_member_of_team_description }}</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								{% image self.second_member_of_team_img max-2000x2000 as second_member_of_team_img %}
								<img src="{{ second_member_of_team_img.url }}" class="img-fluid" alt="">
								<div class="social">
									<a href="{{ page.second_member_of_team_linkedin }}"><i class="icofont-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<div class="member-info">
								<h4>{{ page.second_member_of_team_name }}</h4>
								<span>{{ page.second_member_of_team_position }}</span>
								<p>{{ page.second_member_of_team_description }}</p>
							</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
						<div class="member">
							<div class="member-img">
								{% image self.third_member_of_team_img max-2000x2000 as third_member_of_team_img %}
								<img src="{{ third_member_of_team_img.url }}" class="img-fluid" alt="">
								<div class="social">
									<a href="{{ page.third_member_of_team_linkedin }}"><i class="icofont-linkedin"></i></a>
								</div>
							</div>
							<div class="member-info">
								<div class="member-info">
								<h4>{{ page.third_member_of_team_name }}</h4>
								<span>{{ page.third_member_of_team_position }}</span>
								<p>{{ page.third_member_of_team_description }}</p>
							</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section><!-- End Members Section -->     
	</div> 
</main><!-- End #main -->
{% endblock %}

{% block extra_js %}
<script>
	new fullpage('#fullpage', {
	    //options here
	    autoScrolling:true,
	    scrollHorizontally: true,
	    responsiveWidth: 900
	});
</script>
{% endblock %}
